export HCLOUD_TOKEN=$(op read "op://Personal/K8 API TOKENS/credential")
export TF_VAR_hcloud_token="$HCLOUD_TOKEN"
export AWS_ACCESS_KEY_ID="3D0WOM2WY4LBET1O8AV7"
export AWS_SECRET_ACCESS_KEY=$(op read "op://Personal/HETZNER BUCKET MASTER/SECRET KEY")