export HCLOUD_TOKEN=$(op read "op://Personal/K8 API TOKENS/credential")
export TF_VAR_hcloud_token="$HCLOUD_TOKEN"
export AWS_ACCESS_KEY_ID="3D0WOM2WY4LBET1O8AV7"
export AWS_SECRET_ACCESS_KEY=$(op read "op://Personal/HETZNER BUCKET MASTER/SECRET KEY")

# Export Talos backup S3 credentials based on the AWS credentials
export TF_VAR_talos_backup_s3_access_key="$AWS_ACCESS_KEY_ID"
export TF_VAR_talos_backup_s3_secret_key="$AWS_SECRET_ACCESS_KEY"

export TF_VAR_hcloud_csi_encryption_passphrase=$(op read "op://Personal/Hetzner CSI Vault Encryption/password")