# OpenTofu / Terraform
*.tfstate
*.tfstate.backup
.terraform/
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Helm working directory (created by the module)
.helm/

# Sensitive cluster credentials
kubeconfig
talosconfig

# Packer
packer/.packer/
